" Nice numbers
set number relativenumber

" Remap leader key
let mapleader = "-"
" map <from> <to>


" nnoremap <from> <to>

" Plugins
set surround
set commentary
set highlightedyank
set ReplaceWithRegister
set textobj-indent
set exchange
set multiple-cursors
" set NERDTree
" set textobj-entire
" set vim-paragraph-motion

" textobj indent settings
set argtextobj
g:argumentobject_force_toplevel = 1

"set easymotion

" smart key rebinds
nnoremap <C-s> :%s///g<left><left><left>

" smart refactor ting
set idearefactormode=keep

" shift + j big brain
set ideajoin

"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=3

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)

" Map <leader>d to start debug
map <leader>d <Action>(Debug)

" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
